<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>This is register.</title>
</head>
<body>
    <h1>Register.</h1>
    <form method="post" action="">
        {% csrf_token %}
            {% for field in register_form %}
                {{ field }}
                {% if field.errors %}
                    {{field.errors}}
                {% endif %}
            {% endfor %}
        <input type="submit" value="Registrarse">
    </form>
    
    <!-- <form action="" method="POST">
        <label for="nombre"> Nombre: </label>
        <input type="text" name="nombre">
        <label for="apellido"> Apellido: </label>
        <input type="text" name="apellido">
        <label for="dni"> Dni: </label>
        <input type="text" name="dni">
    </form>

    <form action="" method="POST">
        <label for="nombre"> Nombre: </label>
        <input type="text" name="nombre">
        <label for="apellido"> Apellido: </label>
        <input type="text" name="apellido">
        <label for="dni"> Dni: </label>
        <input type="text" name="dni">
        <label for="telefono"> Telefono: </label>
        <input type="text" name="telefono">
        <label for="direccion"> Direccion: </label>
        <input type="text" name="direccion">
    </form> -->

    <a href="{% url 'loadLogin' %}">Login</a>
</body>
</html>