<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>This is vistaProfe.</title>
</head>
<body>
    <h1>vistaProfe</h1>
    <h2>Nombre del docente: {{ user.first_name }} {{ user.last_name }}</h2>
    <h2>DNI: {{ data.dni }}</h2>
    <h2>Materia dada: </h2>
    <h2>Curso:   </h2>
    <a href="{% url 'loadLogOut' %}">Logout</a>     
</body>
</html>