<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>This is vistaResponsable.</title>
</head>
<body>
    <h1>vistaResponsable</h1>
    <h2>Nombre del responsable: {{ user.first_name }} {{ user.last_name }}</h2>
    <h2>DNI: {{ data.dni }}</h2>
    <h2>Alumno/s a cargo: </h2>
    <a href="{% url 'loadLogOut' %}">Logout</a>  
</body>
</html>